
.form-container {
    margin-bottom: 20px;
    background: white;
    padding: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #555;
    width: 100%;
}

.form-group {
    padding: 8px 0 8px 0;
    width: 85% !important;
}

.button-container {
    margin: 0 10px 20px 40px;
}

.submit-button {
    width: 90%;
}

#startDate {
    width: 35%;
}

#endDate {
    width: 35%;
}

#location {
    width: 60%;
}

.heading {
    padding-top: 40px;
}

.heading span {
    color: #f1f5f3;
    background-color: #373a3c;
    font-weight: 700;
    padding: 10px 30px 10px 20px;
}

#submit {
    font-size: 18px;
}

#next {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}