/******************************* PAGE DEFAULTS AND HEADERS*******************************/

.top-options {
    padding-top: 10px;
}

.form-control {
    min-height: 40px !important;
}

#search {
    min-height: 45px !important;
}

.cohort-search {
    margin-left: 5px;
    width: 80% !important;
    min-height: 45px !important;
}

.create-cohort-button {
    padding-left: 0 !important;
    width: 220px;
}

.create-cohort-button a {
    text-decoration: none;
    color: white;
}

.create-cohort-button a span {
    vertical-align: 5%;
    font-size: 22px;
    padding-left: 5px;
}

.create-group-cohort-button {
    margin-left: 5px;
    width: 80px;
}

.create-group-cohort-button a {
    text-decoration: none;
    color: white;
}

.create-group-cohort-button a span {
    vertical-align: 5%;
    font-size: 22px;
    padding-left: 5px;
}

.form-inline {
    padding-top: 2px;
}

/******************************* SUCCESSFUL SEARCH*******************************/

.successful-search-body {
    padding-top: 40px;
}

.table-container a {
    text-decoration: underline;
}

.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
    font-size: 12px;
}

.thead-inverse th h4 {
    margin: 0 0 0 0;
    font-weight: 700;
}

tr th {
    padding: 15px 10px 10px 10px !important;
    font-size: 135%
}

tr td {
    padding: 15px 10px 10px 10px !important;
    font-size: 115%
}

.details-container {
    min-height: 285px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cohort-name {
    background: #373a3c;
    color: white;
    padding: 10px 15px 10px 15px!important;
    margin-bottom: 0;
    display: inline-block;
}

.cohort-description-heading h4 {
    background-color: #373a3c;
    color: white;
    text-align: left;
    padding: 9px 10px 8px 10px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 1px;
}

.cohort-description-content {
    padding: 10px 10px 10px 10px;
    background: white;
    overflow-y: scroll;
    height: 195px;
    border: 1px solid #e6e6e6;
}

.box-right {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 45px;
    border: 1px solid #e6e6e6;
}

.box-right .desc-1{
    padding-left:5px;
    font-size: 17px;
    vertical-align: 10%;
    font-weight: bold;
    margin-right: 15px;
}

.box-right .desc-2{
    padding-left:5px;
    font-size: 17px;
    vertical-align: 10%;
    font-weight: bold;
}

.box-right .desc-3{
    padding-left:5px;
    font-size: 17px;
    vertical-align: 10%;
    font-weight: bold;
    margin-right: 13px;
}

.person-attribute-label{
    padding: 5px 2px 5px 2px;
}

.person-detail-label {
    padding-left: 2px;
    padding-right: 2px;
}

.member-name {
    text-align: center;
}

hr {
    border-width:5px;
    border-color: #002072;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nav .item-1 a{
    color: rgba(0, 119, 226, 0.85);
    background-color: #eeeeee;
    cursor: default;
}


.not-found {
    font-style: italic;
    color: rgba(190, 1, 11, 0.85);
}

.not-found-container {
    padding-left: 0 !important;
}

hr {
    border: none;
    height: 3px;
    background-color: #333;
}

.name-header{
    background: #373a3c !important;
}

.name-container h4 {
    color: white;
}

.name-container h3 {
    padding: 8px 8px 8px 10px;
    background: white;
    color:#333;
    border: 1px solid #ddd;
}