html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

head {
    height: 100%;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

h1 {
    color: black
    text-decoration: underline;
}