/******************************* PAGE DEFAULTS AND HEADERS*******************************/

.top-options {
    padding-top: 10px;
}

.form-control {
    min-height: 40px !important;
}

.cohort-search {
    margin-left: 5px;
    width: 85% !important;
    min-height: 40px !important;
}

.create-cohort-button {
    width: 250px;
}

.create-cohort-button a {
    text-decoration: none;
    color: #373a3c
}

.create-cohort-button a span {
    vertical-align: 5%;
    font-size: 22px;
    padding-left: 5px;
}

.create-group-cohort-button {
    margin-left: 5px;
    width: 80px;
}

.create-group-cohort-button a {
    text-decoration: none;
    color: #373a3c;
}

.create-group-cohort-button a span {
    vertical-align: 5%;
    font-size: 22px;
    padding-left: 5px;
}

.form-inline {
    padding-top: 2px;
}

/******************************* SUCCESSFUL SEARCH*******************************/

.successful-search-body {
    padding-top: 40px;
}

.table-container a {
    text-decoration: underline;
}

.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
    font-size: 12px;
}

.thead-inverse th h4 {
    margin: 0 0 0 0;
    font-weight: 700;
}

tr th {
    padding: 10px 10px 10px 10px !important;
}

tr td {
    padding: 10px 10px 10px 10px !important;
}

.details-container {
    min-height: 288px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cohort-name {
    text-align: center;
}

.cohort-name h2 span {
    font-weight: 700;
}

.cohort-name h2 {
    margin-top: 0 !important;
    padding-bottom: 10px
}


.cohort-description-heading h4 {
    background-color: #373a3c;
    color: white;
    text-align: left;
    padding: 9px 10px 8px 10px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 1px;
}

.cohort-description-content {
    padding: 10px 10px 10px 10px;
    background: white;
    overflow-y: scroll;
    height: 195px;
    border: 1px solid #e6e6e6;
}

.box-right {
    margin-right: 10px;
    margin-top: 50px;
    border: 1px solid #e6e6e6;
}

.box-right .desc-1{
    padding-left:5px;
    font-size: 17px;
    vertical-align: 10%;
    font-weight: bold;
    margin-right: 15px;
}

.box-right .desc-2{
    padding-left:5px;
    font-size: 17px;
    vertical-align: 10%;
    font-weight: bold;
}

.box-right .desc-3{
    padding-left:5px;
    font-size: 17px;
    vertical-align: 10%;
    font-weight: bold;
    margin-right: 13px;
}

/******************************* USER MEDIA CAROUSEL *******************************/


.users-heading {
    padding-top: 20px ;
}

.jumbotron {
    padding: 40px 20px 15px 40px !important;
    background-color: white; !important;
}

/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px !important;
    background-image: none;
    height: 40px;
    width : 40px;
    margin-top: 90px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: 12px !important;
    background-image: none;
    height: 40px;
    width : 40px;
    margin-top: 90px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: -12px !important;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */

.carousel  a {
    color: gray!important;
}

.carousel a:hover {
    color: #007aff !important;
}

.carousel .male {
    background-image: url(../images/male_avatar.png);
}


.carousel .female {
    background-image: url(../images/female_avatar.png);
}


.thumbnail
{
    width: 185px !important;
    height: 200px !important;
}

.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -25%; }
.onebyone-carosel .active.right { left: 25%; }
.onebyone-carosel .next { left: 25%; }
.onebyone-carosel .prev { left: -25%; }
/* End carousel */

.person-attribute-label{
    padding-left: 8px;
}

.person-detail-label {
    padding-left: 3px;
    padding-right: 8px;
}

.member-name {
    text-align: center;
}

hr {
    border-width:5px;
    border-color: #002072;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.nav .item-1 a{
    color: rgba(0, 119, 226, 0.85);
    background-color: #eeeeee;
    cursor: default;
}


.not-found {
    font-style: italic;
    color: rgba(190, 1, 11, 0.85);
}

.item .col-sm-3 {
    width: 220px;
}