/******************************* GENERAL PAGE CSS *******************************/

* {
    outline: 0 !important;
}

body {
    font-family: "Lato", sans-serif;
    background: #f5f5f5;
    padding-top: 130px !important;
    position: relative;
}

@media(max-width: 1348px) and (min-width: 1290px) {
    body{
        padding-top: 175px !important;
    }
}

@media(max-width: 1289px) {
    body{
        padding-top: 200px !important;
    }
}


p {
    margin: 0 0 15px;
}

p.lead {
    font-weight: 300;
}

strong {
    font-weight: 700;
}

a {
    color: #333;
}

/*a:hover {*/
    /*color: #007aff ;*/
    /*text-decoration: underline;*/
/*}*/

ul.no-style {
    list-style: none;
    padding: 0;
    margin-left: 0;
}


blockquote {
    padding-bottom: 4px;
    margin-bottom: 30px;
}

blockquote p {
    margin-bottom: 10px;
}