.navbar {
    background-color: #00463f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.color-wrapper {
    background-color: white;
}
.navbar-form {
    width: 250px;
    margin: 0;
    padding: 0;
    position: relative;
    border: none;
}
@media (max-width: 767px) {
    .navbar-form {
        width: auto;
        margin: 0 -15px;
    }
}
.navbar-form .form-group {
    width: 100%;
    margin: 0;
}

.navbar-nav li a{
    color: #0f0f0f !important;
}


.navbar-nav li a:hover {
    background-color: #e5e5e5;
    color: #007fff !important;
    cursor: pointer;
}

.logo {
    background: url(../images/openmrs_logo.png) no-repeat  -5px -7px;
    padding: 5px 5px 5px 5px;
    margin-top: 8px;
    width: 500%;
}

.logo:hover{
    text-decoration: none!important;
}

.navbar-right-up li p {
    color: white;
    padding: 15px 15px 0 15px;
}

.navbar-right-up li a{
    color: white !important;
}

.navbar-right-up li ul a{
    color: black !important;
}

.navbar-right-up li a i{
    padding: 0 5px 0 5px;
}

.navbar-header {
    font-size: 22px;
    margin-top: 16px;
    padding-bottom: 0 !important;
    padding-left: 65px !important;
}


.navbar-header p {
    border-right: 1px solid #9b9b9b;
    padding: 0 50px 0 5px !important;
}

.navbar-navx > ul > li {
    padding: 0 35px 0 10px;
}


.navbar-navx > ul > li i{
    padding: 8px 0 8px 0;
}

.navbar-navx > ul > li a{
    font-size: 18px;
}

.dropdown-header :hover, .dropdown-header :hover  {
    text-decoration: none !important;
}

